:root {
	--btn-offset: 11px;
	--orange: #fa8669;
	--artboard-width: 1200px;
	--artboard-height: 550px;
	@media (prefers-color-scheme: dark) {
		--orange: #d75835;
	}
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #eee;
	margin: 0;
	padding: 0;
	@media (prefers-color-scheme: dark) {
		background-color: rgba(18, 18, 24, 0.85);
	}
}

main {
	width: calc(var(--artboard-width) * 10);
	height: calc(var(--artboard-height) * 10);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.artboard {
	width: var(--artboard-width);
	height: var(--artboard-height);
	background-color: white;
	position: relative;
	&:has(> .artboard__element) {
		.no-elements-warning {
			display: none;
		}
	}
	.no-elements-warning {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.artboard__element {
		position: absolute;
		cursor: default;
		&:hover {
			box-shadow: 0 0 1px 1px rgba(51, 97, 241, 0.5);
		}
	}
}

.zero-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	backdrop-filter: blur(5px);
	background-color: rgb(247 247 247 / 80%);
	padding: 7px 8px;
	box-sizing: border-box;
	z-index: 100;
	@media (prefers-color-scheme: dark) {
		background-color: rgb(0 0 0 / 85%);
	}
	> * {
		flex: 1;
		&.zero-header__wrapper--right {
			display: flex;
			justify-content: flex-end;
		}
	}
}

.zero-btn {
	outline: none;
	border-radius: 20px;
	padding: var(--btn-offset) calc(var(--btn-offset) * 2);
	border: none;
	background-color: white;
	color: black;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	@media (prefers-color-scheme: dark) {
		background-color: #100f0f;
		color: white;
	}
}

.zero-btn_rounded {
	width: 35px;
	height: 35px;
	padding: 0;
}

.zero-btn_orange {
	background-color: var(--orange, orange);
	color: white;
}